* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fcf6eb !important;
  color: #3D0C11 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* login page waves styles */
.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #3D0C11;
}

.wave {
  background: url(/images/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* loader */
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3D0C11;
  box-shadow: 32px 0 #3D0C11, -32px 0 #3D0C11;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(252, 252, 226, 0.39);
    box-shadow: 32px 0 #fcf6eb, -32px 0 #3D0C11;
  }
  50% {
    background-color: #3D0C11;
    box-shadow: 32px 0 #fcf6eb, -32px 0 #fcf6eb;
  }
  100% {
    background-color: rgba(252, 252, 226, 0.39);
    box-shadow: 32px 0 #3D0C11, -32px 0 #fcf6eb;
  }
}

.loader_wrapper {
  font-family: "Hind Guntur", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(124, 39, 113, 0.116);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}    